body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.embed-code {
  max-width: 345px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 10em;
  margin: 0;
  margin-bottom: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700|Pacifico|Changa+One');

.text-container {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  position: relative;
  margin: 50px auto;
  font-size: 30px;
  text-align: center;
  opacity: 0.8;
}

.text-container span {
  display: block;
}

.headline {
  position: relative;
}

.line-2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 90px;
  letter-spacing: 5px;
  margin: 0 0;
}

.line-3 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 15px 0 0;
  position: relative;
  letter-spacing: 3px;
}

.two-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.second-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  color: #ABB8C3;
  margin-bottom: 20px;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .two-col {
    flex-direction: column;
  }
  .line-2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 8px;
    margin: 0 0;
  }
}
